@model Imagen

@{
	Zapatilla zapa = ViewData["ZAPATILLA"] as Zapatilla;
}

<h1>Nombre: @zapa.Nombre</h1>
<p>@zapa.Descripcion</p>
<h4>Precio: @zapa.Precio€</h4>


@* <ul class="list-group">
<li class="list-group-item list-group-item-danger">
Id Departamento: @departamento.IdDepartamento
</li>
<li class="list-group-item list-group-item-info">
Nombre: @departamento.Nombre
</li>
<li class="list-group-item list-group-item-info">
Localidad: @departamento.Localidad
</li>
</ul> *@

<div id="visualizarImagen"></div>

<p>
	<a asp-controller="Zapas"
	   asp-action="Index">
		Volver a Index
	</a>
</p>

@section Scripts {
	<script>
		function loadImgPaginacion(posicion){
			$(function() {
				$("#visualizarImagen").load
					("/Zapas/_PartialPaginacionImagenes?posicion=" + posicion + "&idproducto=" + @zapa.IdProducto);
			})
		}
		loadImgPaginacion(1);
	</script>
}